:root {
    /* colors need to be better figured out so that they can be reused as much asd possible */
    --white: white;
    --font: rgb(246, 246, 250);
    --font-secondary: #b0b0b0;
    --light-blue: #bdd6e9;
    --bxai-blue: #bdd6e9 /*#7db7e3;*/;
    --line: #3a3a3a;
    --transition: all 0.3s ease-in-out;
    --background: black;
    --transparent-section: rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
    /* Ensures padding and border are included in the element's total width and height */
    box-sizing: border-box;
}

body {
    font-family: "Cascadia Mono", monospace;
    color: var(--font);
    background-color: var(--background);
    margin: 0;
}

.container {
    max-width: 1440px;
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin);
    /* To do: variable adjusted with media querries */
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    text-align: center;
    color: var(--bxai-blue);

    padding: 2rem 1rem 0;
    margin: 0;
}

h1,
h2,
strong,
.glow {
    text-shadow: 0 0 1rem rgba(248, 250, 255, 0.3);
}

a {
  color: var(--font);
  text-decoration: none;
}

main {
    padding-top: 4rem;
}

/* ##### Header / Nav ##### */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;

    z-index: 1000;

    background-color: var(--transparent-section);
    backdrop-filter: blur(2px);
    border-bottom: var(--line) solid 1px;

    transition: transform 0.3s ease-in-out;
}

.header-hidden {
    transform: translateY(-100%); /* Move header entirely out of view */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1400px;
    padding: 0 var(--grid-margin);
    margin: auto;
}

.logo {
    font-size: 1.6rem;
    font-weight: 800;
    text-decoration: none;

    color: var(--font);
}

.logo span {
    color: var(--light-blue);
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: var(--font);
    margin-left: 1.5rem;

    text-decoration: none;
    font-weight: 600;
    transition: opacity 0.2s ease;
}

.nav-links a:hover,
.nav-links .active {
    opacity: 0.7;
}


/* ##### To do: Hamburger support ##### */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--font);
    border-radius: 3px;
    transition: var(--transition);
}

/* To do: Cards (e.g. for Events, Team) */
.card,
.event-card,
.feature-card,
.member {
    background-color: var(--transparent-section);
    backdrop-filter: blur(5px);
    border-radius: 2rem;
	border: 1px solid var(--line);

    overflow: hidden;
    text-decoration: none;

    transition: transform 0.3s ease;
    animation: fadeInUp 0.8s ease;
}

.card:hover, .event-card:hover, .feature-card:hover, .member:hover {
  transform: translateY(-5px);
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* ##### Media queries ##### */

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        background-color: var(--bxai-blue);
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    }

    .nav-links.show {
        max-height: 300px;
    }

    .hamburger {
        display: flex;
    }
}

@media (min-width: 1025px) {
    :root {
        --grid-margin: 72px;
        --grid-gutter: 48px;
        --spacer: 16px;
    }
}