.event-header {
	text-align: center;
}

.event-images {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;

	margin: 2rem 0;
}

.event-images img {
	width: 100%;
	height: auto;

	aspect-ratio: 16 / 9;
	object-fit: cover;

	border-radius: 1rem;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.event-images img:hover {
	transform: scale(1.03);
}

.event-description {
	max-width: 1400px;
	margin: 2rem auto;

	line-height: 1.6;
	font-size: 1.05rem;
}

.lightbox {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: var(--transparent-section);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1001;
}

.lightbox-content {
	position: relative;
	width: 60vw;
	max-width: 700px;

	background: rgba(0, 0, 0, 0.3);
	border: 1px solid var(--line);
	border-radius: 2rem;

	backdrop-filter: blur(5px);

	padding: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.lightbox img {
	width: 100%;
	height: auto;
	border-radius: 1rem;
}

.lightbox:target {
	display: flex;
}

.lightbox-nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	padding: 0 1rem;
	z-index: 1002;

	font-size: 2rem;
	color: var(--font);
	text-decoration: none;
}

.lightbox-nav.left {
	left: 1rem;
}

.lightbox-nav.right {
	right: 1rem;
}

.lightbox-close {
	position: absolute;
	top: 1rem;
	right: 1rem;

	z-index: 1002;

	font-size: 1.5rem;
	color: var(--font);
	text-decoration: none;
}

@media (max-width: 768px) {
	.event-images {
		grid-template-columns: 1fr;
	}

	.lightbox-content {
		width: 90vw;
	}
}